body {
    font-size: 18pt;
}

h1, h3, #results {
    text-align: center;
    margin: 0 0 0 0;
}

h1 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 48px;
    font-family: 'Francois One', sans-serif;
    border-bottom: 2px solid #21353b;

}

h3 {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#homeBackground{
    background-image: url('img/dental.jpg');
    background-size: 100% 100%;
    height: 500px;
}

header {
    background-color: #67b1c4;
}

footer {
    background-color: #67b1c4;
    border-top: 1px solid #21353b;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 14px;
}
.content {
    background-color: #EAFDF8;
    min-height: 1000px;
}
.content ul {
    padding-top: 25px;
}


